@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Mulish:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');


body {
  font-family: Cambria, Georgia, serif;
  /*  color: white !important;*/
    color: white ;
  background-color: rgb(42, 36, 60) !important;
}

/* Increase font size for tabPanel titles */
  .navbar-nav .nav-link {
    font-size: 18px !important; /* Set the desired font size */
      font-weight: bold; /* Optional: Make the font bold */
    font-family: 'DM Serif Text', serif;
      color: rgb(42, 36, 60);
    
  }

/* Fix markdown styling */
#markdown-content {
  width: 90%;                /* Adjust as needed */
  font-family: Cambria, Georgia, serif;
  color: white !important;
  font-size: 18px !important;   /* Adjust this value as needed */
  /* padding: 20px;                    adds space inside all sides */
    /* box-sizing: border-box;           /* ensures padding doesn't overflow */
}

h1, h2, h3 {
  font-family: Cambria, Georgia, serif;
    color: white !important;
}

.nav-tabs .nav-link:hover {
  background-color: white; /* Slightly lighter when hovered */
}

.nav-tabs {
  border-bottom: 2px solid white; /* Border under tabs */
}

.nav-tabs .nav-link {
  background-color: rgb(108, 94, 156); /* Inactive tabs */
  color: white;
}

